:root {
  --primaryColor: #212121;
  --primaryLightColor: #484848;
  --primaryDarkColor: #000000;
  --secondaryColor: #9474cc;
  --secondaryLightColor: #c6a3ff;
  --secondaryDarkColor: #64489b;
  --primaryTextColor: #fafafa;
  --secondaryTextColor: #f9f9f9;
}

.projects-content-all {
  background-color: #64489b;
}

.projects-title {
  font-size: 3rem;
  color: var(--primaryTextColor);
  text-align: center;
  padding: 2rem;
}

.container-projects {
  height: 100%;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
