:root{
  --primaryColor:#212121;
  --primaryLightColor:#484848;
  --primaryDarkColor: #000000;
  --secondaryColor:#9474cc;
  --secondaryLightColor:#c6a3ff;
  --secondaryDarkColor:#64489b;
  --primaryTextColor:#fafafa;
  --secondaryTextColor:#f9f9f9;
}

.tech-container{
  height: 130vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  margin: 1rem;
}

.tech-container h3{
  color: var(--primaryTextColor);
  font-size: 4rem;
  padding: 1rem;
}

.container-images{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.container-images img{
  width: 140px;
  margin: 1rem;
}

.container-images-two{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.container-images-two img{
  width: 130px;
  margin: 1rem;
}

@media only screen and (max-width: 950px){
  .tech-container{
    height: 100%;
    padding: 1rem;
  }

  .container-images{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}



@media only screen and (max-width: 750px){

  .tech-container h3{
    font-size: 2rem;
    margin: 1rem;
  }

  .container-images{
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .container-images img{
    width: 100px;
    margin: 1rem;
  }

  .container-images-two img{
    width: 100px;
    margin: 1rem;
  }
}


@media only screen and (max-width: 450px){
  .tech-container{
    height: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 391px){
  .tech-container{
    height: 100%;
    padding: 0;
  }
}