:root {
  --primaryColor: #212121;
  --primaryLightColor: #484848;
  --primaryDarkColor: #000000;
  --primaryTextColor: #fafafa;
  --secondaryTextColor: #f9f9f9;
}

.tech-container {
  height: 100%;
  color: var(--primaryTextColor);
  background-color: #0b0b0b;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

/* BOX 1 */

.skills-box-1 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titleSkills {
  font-size: 3.5rem;
  padding: 1rem;
}

/* BOX 2 */

.skills-box-2 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f6eded;
  color: #000000;
  font-weight: bold;
}

.skills-front-back-end {
  font-size: 2rem;
  padding: 3rem;
  text-align: center;
}

.skills-box-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding: 2rem;
}

.skills-box-card span {
  font-size: 2.5rem;
  padding: 1rem;
}

.skills-box-card h4 {
  font-size: 1rem;
}

@media only screen and (max-width: 789px) {
  .tech-container {
    grid-template-columns: 1fr;
  }

  .skills-box-2 {
    background-color: #0b0b0b;
    color: #f6eded;
    text-align: center;
  }

  .titleSkills {
    padding: 2rem;
  }
}
