:root{
  --primaryColor:#212121;
  --primaryLightColor:#484848;
  --primaryDarkColor: #000000;
  --secondaryColor:#9474cc;
  --secondaryLightColor:#c6a3ff;
  --secondaryDarkColor:#64489b;
  --primaryTextColor:#fafafa;
  --secondaryTextColor:#f9f9f9;
}

.tech-container{
  height: auto;
  color: var(--primaryTextColor);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.titleSkills{
  padding: 1rem;
  font-size: 3rem;
  text-align: center;
}

.tech-container p{
  padding: 1rem;
  font-size: 1.2rem;
}

.skillsGrid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
  align-content: center;
  gap: 5rem;
  margin: 2rem;
}

.skillsFront{
  width: 300px;
  border: 2px solid var(--primaryTextColor);
  border-radius: 15px;
  padding: 2rem;
  box-shadow: -10px 10px 25px var(--primaryDarkColor);
}

.skillsFront h4{
  font-size: 1.6rem;
  text-align: center;
  padding: 1rem;
}

.front{
  display: grid;
  grid-template-columns: 1fr;
}

.front span{
  margin: .5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.skillsBack{
  width: 300px;
  border: 1px solid var(--primaryTextColor);
  border-radius: 15px;
  padding: 2rem;
  box-shadow: -10px 10px 25px var(--primaryDarkColor);
}

.skillsBack h4{
  font-size: 1.6rem;
  text-align: center;
  padding: 1rem;
}

.back{
  display: grid;
  grid-template-columns: 1fr;
}

.back span{
  margin: .5rem;
  font-size: 1.3rem;
  font-weight: bold;
}


@media only screen and (max-width: 750px){

  .tech-container{
    height: auto;
  }

  .tech-container p{
    text-align: center;
  }

  .skillsGrid{
    grid-template-columns: repeat(1,1fr);
    gap: 3rem;
  }
}