.infoMe-container{
  min-height: 100vh;
  margin: 20px;
  padding: 15px;
  color: #fafafa;
  text-align: center;
}

.tittle-name{
  color: #fafafa;
  font-size: 3.0em;
  padding: .4em;
}

.tittle-frontEnd{
  font-size: 1.7em;
  padding: .7em;
}

.text-container{
  font-size: 1.3em;
  padding: .6em;
}

.button-cv{
  width: 20vw;
  padding: .7em;
  margin: 1.0em;
  background-color: #64489b;
  border: none;
  border-radius: 10px;
  color: #fafafa;
  text-transform: uppercase;
}

.button-cv:hover{
  cursor: pointer;
  transition: 0.3s;
  box-shadow: -6px 6px 10px #fafafa12;
  transform: translateY(-6px);
}

.image-icon{
  margin: 2em;
}

.container-img{
  width: 75vw;
  max-width: 1000px;
  min-width: 320px;
  margin: auto;
}

.image-image{
  width: 100%;
  box-shadow: 20px 20px #000;
}


/* LARGE SCREEN */

@media(min-width: 750px){
  .infoMe-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0 2rem
  }

  .container-text{
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  .tittle-name{
    font-size: 2.0em;
    padding: .7em;
  }

  .tittle-frontEnd{
    font-size: 1.4em;
    padding: .7em;
  }

  .text-container{
    font-size: 1.0em;
    padding: .7em;
  }

  .button-cv{
    padding: .8em;
    margin: .8em;
    font-size: 1.0em;
    color: #fafafa;
    background-color: #64489b;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
  }

  .image-image{
    height: 500px;
    width: 800px;
    box-shadow: 40px 40px #000000aa;
  }
}