:root {
  --primaryColor: #212121;
  --primaryLightColor: #484848;
  --primaryDarkColor: #000000;
  --secondaryColor: #9474cc;
  --secondaryLightColor: #c6a3ff;
  --secondaryDarkColor: #64489b;
  --primaryTextColor: #fafafa;
  --secondaryTextColor: #f9f9f9;
}

.grid {
  min-height: 100vh;
  padding: 2rem;
  color: var(--primaryTextColor);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  background-color: #00000071;
}

.container-text h2 {
  font-size: 3rem;
  padding: 1rem;
}

.container-text h4 {
  font-size: 2rem;
  padding: 1rem;
}

.container-text-2 p {
  padding: 1rem;
  font-size: 1.3rem;
  height: 100%;
}

.container-text button {
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 10px;
  background: #3a7bd5;
  background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);
  background: linear-gradient(to right, #3a6073, #3a7bd5);
  background: #2980b9;
  background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);
  background: linear-gradient(to right, #2c3e50, #2980b9);
  background: #00b4db;
  background: -webkit-linear-gradient(to right, #0083b0, #00b4db);
  background: linear-gradient(to right, #0083b0, #00b4db);
  color: var(--primaryTextColor);
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.containerIcons a {
  color: var(--primaryTextColor);
  font-size: 3rem;
  padding: 1rem;
}

.containerImg img {
  height: 400px;
  border-radius: 200px;
  border: 2px solid var(--primaryTextColor);
}

.link {
  color: var(--primaryTextColor);
  text-decoration: none;
}

@media only screen and (max-width: 1000px) {
  .grid {
    height: 100%;
    grid-template-columns: repeat(1, 1fr);
  }

  .container-text {
    text-align: center;
  }

  .container-text-2 p {
    margin: 1rem;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .container-text h2 {
    font-size: 2.1rem;
  }

  .container-text h4 {
    font-size: 1.2rem;
  }

  .container-text p {
    font-size: 1.1rem;
  }

  .containerImg img {
    margin: 1rem;
    height: 200px;
    border-radius: 100px;
  }
}

@media only screen and (max-width: 300px) {
  .container-text h2 {
    font-size: 2rem;
  }

  .container-text p {
    font-size: 1rem;
  }
}
