:root{
  --primaryColor:#212121;
  --primaryLightColor:#484848;
  --primaryDarkColor: #000000;
  --secondaryColor:#9474cc;
  --secondaryLightColor:#c6a3ff;
  --secondaryDarkColor:#64489b;
  --primaryTextColor:#fafafa;
  --secondaryTextColor:#f9f9f9;
}


.info-body{
  width: 100%;
  height: 80vh;
  padding: 1rem;
  display: grid;
  place-items: center;
  color: var(--primaryTextColor);
}

.row{
  width: 80%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 50px 30px;
}

.row .right{
  overflow: hidden;
}

.row .right img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.row .left{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row .left .content{
  padding-right: 20px;
}

.row .left .content p{
  font-size: 1.5rem;
  line-height: 26px;
  padding-bottom: 5px;
}


@media only screen and (max-width: 999px){
  .row .left .content{
    padding-right: 0;
  }

  .row{
    width: 90%;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 450px){
  .row .left .content p{
    font-size: 1.2rem;
  }
}





