:root {
  --primaryColor: #212121;
  --primaryLightColor: #484848;
  --primaryDarkColor: #000000;
  --secondaryColor: #9474cc;
  --secondaryLightColor: #c6a3ff;
  --secondaryDarkColor: #64489b;
  --primaryTextColor: #fafafa;
  --secondaryTextColor: #f9f9f9;
  --error: #e72340;
}

.contAll {
  height: auto;
  color: var(--primaryTextColor);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contAll h3 {
  padding: 1rem;
  font-size: 3rem;
  text-align: center;
}

/* CONTACT  */

.contactGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem;
}

.contacts {
  height: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  justify-items: center;
  padding: 2rem;
}

.contact {
  height: 250px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid var(--primaryTextColor);
  border-radius: 15px;
  box-shadow: -10px 10px 25px var(--primaryDarkColor);
  padding: 1rem;
}

.contact p {
  margin: 0.5rem;
}

.ContInco {
  font-size: 1.8rem;
}

.containerA {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerA a {
  color: var(--primaryTextColor);
  text-decoration: none;
}

.rowRight {
  font-size: 1.5rem;
  padding-left: 5px;
  transition: 0.5s;
}

.multimedia:hover .rowRight {
  transform: translate(0.25rem);
}

.pName {
  font-size: 1.2rem;
}

.errorMessage {
  color: var(--error);
  padding-top: 8px;
  padding-left: 5px;
}

/* FORM */

.form {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form h4 {
  text-align: center;
  font-size: 1.5rem;
}

.inputs {
  width: 500px;
  margin: 1rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 2px solid var(--primaryTextColor);
  box-shadow: -10px 10px 25px var(--primaryDarkColor);
  border-radius: 15px;
}

.inputs label {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.inputs input {
  width: 400px;
  padding: 1rem;
  border-radius: 15px;
  border: 1px solid var(--primaryTextColor);
  background: transparent;
  color: var(--primaryTextColor);
  outline: none;
  box-shadow: -5px 5px 25px var(--primaryDarkColor);
}

.inputs textarea {
  border-radius: 15px;
  border: 1px solid var(--primaryTextColor);
  background: transparent;
  padding: 1rem;
  margin-bottom: 0.5rem;
  color: var(--primaryTextColor);
  outline: none;
  resize: none;
}

#inputSubmit {
  padding: 0.5rem;
  width: 150px;
  background: #8e2de2;
  background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
  background: linear-gradient(to right, #4a00e0, #8e2de2);
  color: var(--primaryTextColor);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: -5px 5px 25px var(--primaryDarkColor);
}

.divInpuntSend {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1050px) {
  .contactGrid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .contacts {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
  }

  .form h4 {
    padding: 2rem;
  }
}

@media only screen and (max-width: 870px) {
  .contacts {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}

@media only screen and (max-width: 620px) {
  .inputs {
    width: 350px;
    padding: 1rem;
  }

  .inputs label {
    font-size: 1.2rem;
  }

  .inputs input {
    width: 300px;
  }

  .inputs textarea {
    width: 300px;
  }
}

@media only screen and (max-width: 400px) {
  .contact {
    height: 200px;
    width: 300px;
  }
}
